

<.form let={f} for={@conn} action={@action}>

  <%= hidden_input f, :shorty , value: assigns.shorty %>

  <%= label f, "Please paste the URL (a valid one would be nice):" %>
  <%= text_input f, :longy %>
  <%= error_tag f, :longy %>

  <div>
    <%= submit "Get Shorty!" %>
  </div>
</.form>

