<h1>New Shorty is created</h1>

<ul>

  <li>
    <strong>Use this:
    <span>
      <%= link "http://localhost:4000/" <>  @conn.assigns.shorty , to: "http://localhost:4000/" <>  @conn.assigns.shorty %>
    </span>
    to access the URL <%= @conn.assigns.longy %>
    </strong>
  </li>

</ul>

<span><%= link "Create Anotner One?", to: Routes.cuped_url_path(@conn, :new) %></span>
