<h1>Show Cuped url</h1>

<ul>

  <li>
    <strong>Shorty:</strong>
    <%= @cuped_url.shorty %>
  </li>

  <li>
    <strong>Longy:</strong>
    <%= @cuped_url.longy %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.cuped_url_path(@conn, :edit, @cuped_url) %></span> |
<span><%= link "Back", to: Routes.cuped_url_path(@conn, :index) %></span>
