<h1>New Shorty is created</h1>

<ul>

  <li>
    <strong>Use this Shorty </strong>
    <%= @conn.assigns.shorty %>
  </li>

  <li>
    <strong> to access the URL bellow:</strong>
    <%= @conn.assigns.longy %>
  </li>

</ul>

<span><%= link "Create Anotner One?", to: Routes.cuped_url_path(@conn, :new) %></span>
